<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ response.status.code }} - {{ response.message }}</title>

    <meta charset="utf-8">
    <meta name="description" content="gepf is a php framework, the Good Enough Php Framework">
    <meta name="keywords" content="web, development, mvc">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/assets/welcome/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/welcome/css/main.css">
</head>

<body>
<main>
    <h1>{{ response.code }} - {{ response.message }}</h1>
    <p>
        {{ response.reason }}
    </p>
</main>
</body>
</html>
