<!DOCTYPE html>
<html lang="{{ request.locale }}">
    <head>
        <title>{{ title }}</title>

        <meta charset="utf-8">
        <meta name="description" content="gepf is a php framework, the Good Enough Php Framework">
        <meta name="keywords" content="web, development, mvc">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{{ asset('welcome/css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="jumbotron">
                <h1>{{ header_1 }}</h1>
                <h2>{{ header_2 }}</h2>
            </div>
        </header>
        <main>
            <div class="jumbotron">
                <p>{{ main_p1 }}</p>
                <p>{{ main_p2 }}</p>
            </div>
        </main>
    </body>
</html>
