<link rel="stylesheet" type="text/css" href="{{ serviceAsset('debug-bar.css', 'profiler') }}"/>

<div id="gepf-profiler">
    <div id="gepf-profiler-data-toggle"><span>Data</span></div>
    <div id="gepf-profiler-data" class="gepf-profiler-collapsable">
        {{ dataRegister }}
    </div>
    <div id="gepf-profiler-log-toggle">
        <span>Log</span>
    </div>
    <div id="gepf-profiler-log" class="gepf-profiler-collapsable">
        {% for logEntry in log %}
            <div>{{ logEntry.level }}: {{ logEntry.message }}</div>
        {% endfor %}
    </div>
    <div id="gepf-profiler-route-toggle">
        <span>Routing</span>
    </div>
    <div id="gepf-profiler-route" class="gepf-profiler-collapsable">
        {% for route in routes.indexes %}
            <div>{{ route }}</div>
        {% endfor %}
        <div>{{ routes.endpoint }}</div>
        {# % if routes.compilerTemplate % }
            <div>Template: { { routes.compilerTemplate.file.pathname } }</div>
        { % endif % #}
    </div>
    <div><span>Template Engine</span><span><b>{{ templateEngine }}</b></span></div>
    <div><span>Computations</span><span><b>{{ computations }} ms</b></span></div>
    <div><span>System Calls</span><span><b>{{ systemCalls }} ms</b></span></div>
    <div><span>Wall Clock</span><span><b>{{ wallClock }} ms</b></span></div>
    <div><span>Memory</span><span><b>{{ memory }} KB</b></span></div>
    <div id="gepf-profiler-dump-toggle">
        <span>Dump</span>
    </div>
    <div id="gepf-profiler-dump" class="gepf-profiler-collapsable">{{ dump }}</div>
    <div id="gepf-profiler-bt-toggle">
        <span>Backtrace</span>
    </div>
    <div id="gepf-profiler-bt" class="gepf-profiler-collapsable">{{ bt }}</div>
</div>
