#gepf-profiler {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ec3d3d;
    color: white;
    z-index: 100;
}

#gepf-profiler > div {
    position: relative; /* absolute children need anchor */
    float: left;
    padding: 6px 12px;
}

#gepf-profiler > div > span {
    padding: 4px;
}

#gepf-profiler > .gepf-profiler-collapsable {
    display: none;
    clear: both;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    padding: 16px;
    background: #433;
}

#gepf-profiler-data-toggle:hover ~ #gepf-profiler-data {
    display: block;
}

#gepf-profiler > #gepf-profiler-data:hover {
    display: block;
}

#gepf-profiler-log-toggle:hover ~ #gepf-profiler-log {
    display: block;
}

#gepf-profiler > #gepf-profiler-log:hover {
    display: block;
}

#gepf-profiler-route-toggle:hover ~ #gepf-profiler-route {
    display: block;
}

#gepf-profiler > #gepf-profiler-route:hover {
    display: block;
}

#gepf-profiler-dump-toggle:hover ~ #gepf-profiler-dump {
    display: block;
}

#gepf-profiler > #gepf-profiler-dump:hover {
    display: block;
}

#gepf-profiler-bt-toggle:hover ~ #gepf-profiler-bt {
    display: block;
}

#gepf-profiler > #gepf-profiler-bt:hover {
    display: block;
}
