@import "fonts";

body {

  color: #433;
  margin: 0 48px;
  hyphens: auto;

  header {
    h1 {
      font-family: Raleway, sans-serif;
      font-weight: 400;
      font-size: 2rem;

      small {
        font-size: 1.2rem;
        font-family: Caveat, sans-serif;
      }
    }
  }

  main {
    color: #655;
    font-size: 0.9rem;
    font-family: Raleway, sans-serif;
  }
}
