@import '_fonts.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Raleway, arial, sans-serif;
    hyphens: auto;
    color: #433;
    font-size: 0.9rem;
}

header {
    margin: auto;
    max-width: 1200px;
    padding-top: 60px;
    padding-left: 200px;
    min-width: 440px;
}

header::after {
    content: " ";
    display: block;
    clear: both;
}

main {
    margin: auto;
    max-width: 1200px;
    padding-left: 200px;
    min-width: 440px;
}

main::after {
    content: " ";
    display: block;
    clear: both;
}

section {
    float: left;
    width: 100%;
}

h1 {
    margin: 0.5em 0 0.1em 0;
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    margin: 0.2em 0;
    font-family: Caveat, cursive;
    font-size: 1.2rem;
}

p {
    margin: 0.5em 0;
    color: #655;
}

a {
    text-decoration: none;
    color: #433;
}

.active {
    border-bottom: 2px solid #ec3d3d;
}

ul {
    list-style: none;
    margin: 8px 0 0;
    padding-left: 30px;
}

nav::after {
    content: " ";
    display: block;
    clear: both;
}

nav {
    color: white;
}

nav span {
    padding: 0 12px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav#global_nav {
    position: fixed;
    width: 100%;
    background: #433;
    box-sizing: border-box;
}

nav > #user_menu {
    padding: 6px;
    float: right;
}

aside {
    position: fixed;
    width: 200px;
    height: 100vh;
    background: #655;
}

aside #cooperate {
    padding: 6px 0;
    width: 200px;
    background: repeating-linear-gradient(
            135deg,
            #ff4444,
            #fe4343 10px,
            #ed3e3e 10px,
            #ec3d3d 20px
    );
}

aside nav#context_nav {
    padding: 20px 20px 0 20px;
}

aside nav#context_nav div {
    padding: 16px 0 4px 0;
}

aside nav#context_nav ul li {
    padding-bottom: 8px;
}

aside nav#context_nav h1 {
    font-size: 0.9rem;
    font-weight: 700;
}

aside #copyright {
    position: absolute;
    width: 100%;
    padding: 8px 16px;
    bottom: 0;
    background: #433;
    box-sizing: border-box;
}

aside #copyright p {
    color: white;
}

aside #copyright p a {
    color: white;
}

i.fa {
    padding: 0 6px;
}

#breadcrumbs {
    float: left;
}

#breadcrumbs div {
    /* float:          left; */
    display: inline;
    margin: 0.5em 0 0.1em 0;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

#list_settings {
    float: right;
}

.jumbotron {
    margin: auto;
    min-width: 320px;
    max-width: 400px;
}

.btn, button, input, select {
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
    color: white;
    background: #655;
    text-decoration: none;
    border: 1px solid #655;
    transition-duration: 0.2s;
}

.btn:hover, button:hover {
    color: #655;
    background: white;
    transition-duration: 0.2s;
}

.btn.active, button.active {
    color: #655;
    background: white;
}

.btn a {
    color: white;
    transition-duration: 0.2s;
}

.btn:hover a {
    color: #655;
    transition-duration: 0.2s;
}

.tile {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    min-width: 25%;
    max-width: 33%;
}

.box {
    float: right;
    padding: 32px;
    min-width: 25%;
    width: 320px;
    max-width: 100%;
    border: 1px solid #655;
    border-radius: 6px;
}

.p_box {
    float: left;
    min-width: 320px;
    width: 400px;
}

@media (max-width: 1200px) {
    header {
        max-width: 960px;
    }

    main {
        max-width: 960px;
    }
}

@media (max-width: 1024px) {
    header {
        max-width: 756px;
    }

    main {
        max-width: 756px;
    }

    .box {
        float: left;
        border: none;
    }
}
