<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
    <head>
        <title>Setup</title>
        <meta charset="utf-8">
        <meta name="gepf:user" content="{{ username }}">
        {% if formSubmission is defined %}
            <meta name="gepf:form-submission" content="{{ formSubmission }}">
        {% endif %}
        <link rel="shortcut icon" href="/media/welcome/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/assets/welcome/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav id="global_nav">
            {% if auth %}
                <div id="user_menu">
                    <span>
                        <i class="fa fa-user-circle"></i>
                        {{ username }}
                    </span>
                    <span>
                        <a href="setup/logout">
                            <i class="fa fa-sign-out"></i>
                            logout
                        </a>
                    </span>
                </div>
            {% endif %}
        </nav>

        {% if auth %}
            <aside>
                <div id="cooperate">
                    &nbsp;
                </div>
                <nav id="context_nav">
                    <div{% if router.route.path == '' %} class="active"{% endif %}>
                        <a href="/setup">
                            <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
                        </a>
                    </div>
                    <div>
                        <h1><i class="fa fa-heartbeat"></i> Health status</h1>
                    </div>
                    <div{% if router.route.path == 'plugins' %} class="active"{% endif %}>
                        <a href="/setup/plugins">
                            <h1><i class="fa fa-plug"></i> Plugins</h1>
                        </a>
                    </div>
                    <div>
                        <h1><i class="fa fa-cogs"></i> Settings</h1>
                        <ul>
                            <li>Users</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                    <div>
                        <a href="setup/apps">
                            <h1><i class="fa fa-rocket"></i> Apps</h1>
                        </a>
                        <ul>
                            <li>m-user <i class="fa fa-external-link"></i></li>
                            <li>demo <i class="fa fa-external-link"></i></li>
                        </ul>
                    </div>
                    <div>
                        <h1><i class="fa fa-info-circle"></i> Info</h1>
                        <ul>
                            <li{% if router.route.path == 'phpinfo' %} class="active"{% endif %}>
                                <a href="/setup/phpinfo">
                                    php
                                </a>
                            </li>
                            <li{% if router.route.path == 'cache' %} class="active"{% endif %}>
                                <a href="/setup/cache">
                                    cache
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h1><i class="fa fa-file-text"></i> Logs</h1>
                    </div>
                </nav>
                <div id="copyright">
                    <p>gepf</p>
                    <p>© Philipp Scholz 2021</p>
                    <p>
                        <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html" target="_blank">
                            License: GPL-2
                        </a>
                    </p>
                </div>
            </aside>
        {% endif %}

        <header>
            <div id="breadcrumbs">
{#				{% for breadcrumb,path in breadcrumbs %}#}
{#					<div>#}
{#						{% if __path != reset($breadcrumbs) %}#}
{#							<span class="spacer">/</span>#}
{#						{% endif %}#}
{#						{% if path != end($breadcrumbs) %}#}
{#							<a href="/{{ path }}">#}
{#								{{ breadcrumb }}#}
{#							</a>#}

{#							<a href="setup/plugins">#}
{#								{{ breadcrumb }}#}
{#							</a>#}
{#						{% else %}#}
{#							<span class="last">{{ breadcrumb }}</span>#}
{#						{% endif %}#}
{#					</div>#}
{#				{% endfor %}#}
            </div>
            {% if auth %}
                <div id="list_settings">
                    <button class="active">Grid <i class="fa fa-th-large"></i></button>
                    <button>List <i class="fa fa-th-list"></i></button>
                </div>
            {% endif %}
        </header>

        <main>
            {% block main %}
                {% if not auth %}
                    <div class="p_box">
                        <p>Want to allow users to use setup?</p>
                        <p>
                            For native auth, add user and password hash to<br />
                            <code>config/setup/users.php</code>
                        </p>
                        <p>
                            If you use the session plugin, just add usernames to<br />
                            <code>$session_allowed_users</code> variable in<br />
                            <code>config/setup/auth.php</code>
                        </p>
                        <p>
                            Better don’t burn your fingers with UNIX-PAM — but if you want to:
                            just grant unix user who executes php scripts read permission to
                            <code>/etc/shadow</code>
                        </p>
                    </div>
                    <div class="box">
                        <form method="post">
                            {% set username_key = constant('Gepf\\Service\\Security\\AuthMethod\\AuthMethodInterface::KEY_USERNAME') %}
                            {% set password_key = constant('Gepf\\Service\\Security\\AuthMethod\\AuthMethodInterface::KEY_PASSWORD') %}
                            <div>
                                <label>
                                    <input
                                            id="{{ form[username_key].getName }}"
                                            type="{{ form[username_key].getType }}"
                                            name="{{ form[username_key].getName }}"
                                            placeholder="{{ form[username_key].getLabel }}"
                                    />
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input
                                            id="{{ form[password_key].getName }}"
                                            type="{{ form[password_key].getType }}"
                                            name="{{ form[password_key].getName }}"
                                            placeholder="{{ form[password_key].getLabel }}"
                                    />
                                </label>
                            </div>
                            <label>
                                <select name="auth_method">
                                    {% for method in allowed_auth_methods %}
                                        <option>{{ method }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <button>
                                <i class="fa fa-sign-in"></i>
                                Login
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% endblock %}
        </main>

        <br />
        <br />

    </body>
</html>
